# LLM API keys
OPENAI_API_KEY=XXXXXXXXXXXXXXXXXX
CLAUDE_AI_API_KEY=XXXXXXXXXXXXXXXXXX
GEMINI_API_KEY=XXXXXXXXXXXXXXXXXX
HUGGINGFACE_TOKEN=XXXXXXXXXXXXXXXXXX
OPEN_ROUTER_API_KEY=XXXXXXXXXXXXXXXXXX

# Git API keys
GITHUB_API_KEY=XXXXXXXXXXXXXXXXXX
GITLAB_API_URL=https://XXXXXXXXXXXXXXXXXX
GITLAB_API_KEY=XXXXXXXXXXXXXXXXXX
GITEA_API_URL=https://XXXXXXXXXXXXXXXXXX
GITEA_API_KEY=XXXXXXXXXXXXXXXXXX

# Markdown to PDF conversion tool
TOOL_PATH_WKHTMLTOPDF=XXXXXXXXXXXXXXXXXX

# google app 
GOOGLE_APPLICATION_CREDENTIALS=XXXXX/XXXXX/XXXX.json

# Search API keys
GOOGLE_SEARCH_API_KEY=XXXXXXXXXXXXXXXXXX
GOOGLE_SEARCH_ENGINE_ID=XXXXXXXXXXXXXXXXXX

# Brave Search API keys(https://api-dashboard.search.brave.com/app/dashboard)
BRAVE_SEARCH_API_KEY=XXXXXXXXXXXXXXXXXX

# Notion API keys
NOTION_API_KEY=XXXXXXXXXXXXXXXXXX

# Wiki JS API keys
WIKI_JS_API_URL=https://XXXXXXXXXXXXXXXXXX
WIKI_JS_API_KEY=XXXXXXXXXXXXXXXXXX

# RECRUIT(hot pepper gourmet)
RECRUIT_API_KEY=XXXXXXXXXXXXXXXXXX

# Qiita API keys
QIITA_API_KEY=XXXXXXXXXXXXXXXXXX

# REDMINE(Tool or Bot)
REDMINE_API_URL=XXXXXXXXXXXXXXXXXX
REDMINE_API_KEY=XXXXXXXXXXXXXXXXXX

# RocketChat
ROCKET_CHAT_API_URL=https://XXXXXXXXXXXXXXXXXX
ROCKET_CHAT_API_KEY=XXXXXXXXXXXXXXXXXX
ROCKET_CHAT_USER_ID=XXXXXXXXXXXXXXXXXX


# SLACK
# Bot User OAuth Token
SLACK_BOT_USER_OAUTH_TOKEN=XXXXXXXXXXXXXXXXXX
# WsBotServer
SLACK_BOT_WS_TOKEN=XXXXXXXXXXXXXXXXXX
SLACK_APP_TOKEN=XXXXXXXXXXXXXXXXXX
# WebhookBotServer
SLACK_BOT_SECRET_TOKEN=XXXXXXXXXXXXXXXXXX
SLACK_BOT_ACCESS_TOKEN=XXXXXXXXXXXXXXXXXX

# Weather
OPEN_WEATHER_API_KEY=XXXXXXXXXXXXXXXXXX
# News Data API keys(https://newsdata.io/)
NEWS_DATA_API_KEY=XXXXXXXXXXXXXXXXXX
