.DS_Store
.venv
venv
.cache
.pytest_cache
.env
*.pyc
*.pyo
__pycache__/
.output
*output*.txt
*output*.md
*output*.pdf

*.bk
input*.txt
*egg-info/
data/models/*
build/*
dist/*
ngrok*

*.log

# Docs
/docs/_build/
/docs/*.doctree

watchdir/
reply_dir/
rag_docs.*
rag_index.*
batch_results
debug.py

# google
client_id.json
client_secret.json
token.json
keys/

# cacheデータ
api_cache.json
.storage
*.db

data/
.batch/